<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsHDsobbX8pJi262v8iYkXmQXumjV4SJs</string>
	<key>GCM_SENDER_ID</key>
	<string>165013543353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.nocodedb</string>
	<key>PROJECT_ID</key>
	<string>nocode-80c8e</string>
	<key>STORAGE_BUCKET</key>
	<string>nocode-80c8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165013543353:ios:d6fdb6778131e0f423fe68</string>
</dict>
</plist>